.cell, .wall {
    width: 9px;
    height: 9px;
    background-color: greenyellow;
    position: absolute;
}

.wall {
    background-color: #282423;
}

.start {
    background-color: blue;
}

.finish {
    background-color: red;
}

.field {
    position: relative;
    height: 10px;
    width: 10px;
}

.control-panel {
    width: 200px;
}

.control-panel, .field-panel {
    padding-top: 10px;
    float: left;
}

.btn {
    text-align: center;
    height: 27px;
    width: 180px;
    padding: 3px 15px;
    margin: 4px 5px;
    font-weight: 600;
    background-color: #40c781;
    border: none;
    border-radius: 3px;
    color: #f9f9f9;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

.btn:hover {
    background-color: #30a468;
}

.btn:active{
    background-color: #1a5938;
}
.btn:disabled {
    opacity: 0.3;
    background-color: #45e893;
}

.page {
    width: 800px;
    padding-top:50px;
    height:300px;
    margin:0 auto;
}

