.cell, .wall {
    width: 13px;
    height: 13px;
    background-color: #0fff38;
    position: absolute;
}

.wall {
    background-color: #282423;
}

.start {
    background-color: #005aff;
}

.finish {
    background-color: #ff0600;
}

.field {
    position: relative;
    height: 10px;
    width: 10px;
}
